.graphbox-container {
    display: flex;
    grid-template-columns: 35% 50%;
    gap: 1rem;
}

.graphbox {
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    /* background: #777; */
}

.graphbox img {
    height: 100%;
    width: 35%;
}

.graphbox h3{
    width: 100%;
}

.skillboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    margin: 5% 13%;
}

.graphbox2-container {
    background: var(--color-bg-variant);
    border-radius: 2rem;
    height: auto;
    width: auto;
    border: 1px solid transparent;
    transition: var(--transition);
    padding: 5% 5%;
}

.graphbox2-container h5 {
    text-align: center;
    color: var(--color-light);
    margin-top: 5%;
}

.graphbox2-container h2 {
    text-align: center;
    color: var(--color-primary);
}

.graphbox2-container:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.graphbox2 {
    text-align: justify;
}

/* .graphbox2 img {
    width: 100%;
    height: 190px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
} */

.graphbox2 h3{
    width: 100%;
    margin: 10px;
    font-size: medium;
    cursor: pointer;
}

.graphbox2 h3:hover {
    transform: translateY(-.05rem);
}

.mySwiper {
    width: 50%;
    height: 100%;
}

.mySwiper2{
    width: 65%;
    position: relative;
    top: 3rem;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.model{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: #000;
    transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999;
}

.model.open{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.model img{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: 0 auto;
}

.model .close{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

/* .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 50px;
}

.box {
    flex: 1;
}

.box .progress h3 {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.box .progress .bar {
    overflow: hidden;
    height: 10px;
    background: #777;
    margin-bottom: 10px;
} 

.box .progress .bar span {
    background: rgb(56, 149, 203);
    height: 100%;
    display: block;
}

.box:first-child .progress:nth-child(1) .bar span {
    width: 90%;
}
.box:first-child .progress:nth-child(2) .bar span {
    width: 90%;
}
.box:first-child .progress:nth-child(3) .bar span {
    width: 80%;
}
.box:first-child .progress:nth-child(4) .bar span {
    width: 75%;
}
.box:last-child .progress:nth-child(1) .bar span {
    width: 60%;
}
.box:last-child .progress:nth-child(2) .bar span {
    width: 65%;
}
.box:last-child .progress:nth-child(3) .bar span {
    width: 80%;
}
.box:last-child .progress:nth-child(4) .bar span {
    width: 60%;
} */


/* ================= MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px){
    .graphbox img{
        width: 50%;
        height: 50%;
        margin-bottom: 10px;
     }
 
     .graphbox h3{
         display: none;
     }
     .mySwiper{
         width: 80%;
         margin: 0 auto;
     }
     .model img{
        margin: 0 auto;
        position: relative;
        top: 2rem;
        width: 100%;
        height: 90%;
     }
     .skillboard{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }
     .graphbox2 {
        margin: 5% 8%; 
     }
}

/* ================= MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px){
    .graphbox img{
       width: 70%;
       height: 70%;
       margin-bottom: 10px;
    }

    .graphbox h3{
        display: none;
    }
    .mySwiper{
        width: 80%;
        margin: 0 auto;
    }
    .model img{
        margin: 0 auto;
        position: relative;
        top: 3rem;
        width: 100%;
        height: 55%;
    }
    .skillboard{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }
    .graphbox2-container h2{
        font-size: medium;
        padding-top: 2rem;
    }
}
