.experience__session {
    height: auto;
    position: relative;
    top: 5rem;
}

.work__filters {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
}

.work__item {
    cursor: pointer;
    padding: .25rem .75rem;
    font-weight: 400;
    border-radius: .5rem;
}

.active-work {
    background-color: var(--color-bg-variant);
}

.portfolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio__item h3 {
    margin: 1.2rem 0 2rem;
}

.project-title{
    text-align: center;
}

.portfolio__item-cta {
    display: flex; 
    justify-content: center; 
    margin-bottom: 1rem;
    font-weight: 600;
    position: relative;
    left: 5%;
}

.portfolio__item-cta .btn{
    position: relative;
    top: 1.3rem;
}   

.portfolio__item-cta .link_btn{
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.02rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    position: relative;
    top: 1.3rem;
    right: 2rem;
}

.link_btn:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.project-info{
    height: auto;
}

/* ================= MEDIA QUERIES (MEDIUM DEVICES) ================= */
@media screen and (max-width: 1024px){
    .experience__session {
        height: auto;
    }
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* ================= MEDIA QUERIES (SMALL DEVICES) ================= */
@media screen and (max-width: 600px){
    .experience__session {
        height: auto;
    }
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

}
